:host {
  display: flex;
  .mat-fab-container {
    position: fixed;
    bottom: 20px;
    right: 10px;
  }
  .todo-page-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
  }
}
