<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Filtro
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap.gt-sm="10px">
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Título</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Prioridade</mat-label>
            <mat-select>
                <mat-option *ngFor="let p of priorities" [value]="p">
                    {{ p }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Dt. cadastro</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div fxFlex>
            <mat-checkbox>Apenas concluídos?</mat-checkbox>
        </div>
    </div>

</mat-expansion-panel>