<div mat-dialog-title fxLayout="row" fxLayoutAlign="start center">
    <span fxFlex>{{ todo?.title || 'Cadastrar Tarefa' }}</span>

    <button *ngIf="mode === 'update'" [disabled]="form.disabled" matTooltip="Deletar" mat-button mat-icon-button
        color="accent" (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>
</div>
<mat-progress-bar *ngIf="loading$ | async" class="push-10" mode="indeterminate"></mat-progress-bar>
<mat-dialog-content [formGroup]="form" fxLayout="column">
    <mat-error class="push-10">
        {{ error$ | async }}
    </mat-error>
    <mat-form-field fxFlex appearance="outline">
        <mat-label>Título</mat-label>
        <input formControlName="title" matInput>
        <mat-error>
            O título é obrigatório.
        </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
        <mat-label>Descrição</mat-label>
        <input formControlName="description" matInput>
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
        <mat-label>Prioridade</mat-label>
        <mat-select formControlName="priority">
            <mat-option *ngFor="let p of priorities" [value]="p">
                {{ p }}
            </mat-option>
        </mat-select>
        <mat-error>
            A prioridade é obrigatória.
        </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
        <mat-label>Dt. cadastro</mat-label>
        <input formControlName="createdAt" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div fxFlex>
        <mat-checkbox formControlName="isDone">Concluído?</mat-checkbox>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close [disabled]="form.disabled">Fechar</button>
    <button style="justify-self: end;" mat-button mat-raised-button color="primary"
        [disabled]="form.invalid || form.disabled" (click)="save()">Salvar</button>
</mat-dialog-actions>